HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

*.class

#package file
*.war
*.ear


*.orig

tager/

.setting/
.project
.classpath

.idea
*.iws
*.iml
*.ipr
/idea/

*.log
*.cache
*.patch
*.diff
*.tem

.DS_Store
Thumbs.db

