<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阿C外卖</title>
    <script src="../static/script/JQuery.js" type="javascript"/>
</head>
<body>
    <div style="height: 1080px;width: auto">
        <input type="text" id="logNo" value=""/>
        <br/>
        <input type="password" id="password" value="" />
        <br/>
        <input type="button" onclick="login();" value="登陆"/>
    </div>
</body>
<script type="javascript">

    function longin() {
        $.ajax({
            type :'POST',
            url :'/uer/login',
            dataType : 'json',
            data : (
                logNo : $('#logNo').val(),
                password : $('#password').val()
            )
            success : function(result) {
                console.log(result);
            }
        });
    }
</script>
</html>